[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/spinner"]
	path = external/spinner
	url = https://github.com/snowwlex/QtWaitingSpinner.git
[submodule "src/3rdParty/spinner"]
	path = src/3rdParty/spinner
	url = https://github.com/snowwlex/QtWaitingSpinner.git
