[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "src/3rdParty/spinner"]
    path = src/3rdParty/spinner
	url = https://github.com/snowwlex/QtWaitingSpinner.git
[submodule "src/3rdParty/qgallerywidget"]
	path = src/3rdParty/qgallerywidget
	url = git@github.com:farleyrunkel/QGalleryWidget.git
[submodule "external/gpts"]
	path = external/gpts
	url = git@github.com:linexjlin/GPTs.git
